<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.odboy.system.dal.mysql.SystemRoleMapper">
  <select id="listRoleLevelByRoleIds" resultType="java.lang.Integer">
    SELECT DISTINCT t1.`level`
    FROM system_role t1
    WHERE t1.`level` IS NOT NULL
    AND t1.role_id IN
    <foreach collection="roleIds" separator="," open="(" close=")" item="roleId">
      #{roleId}
    </foreach>
  </select>
</mapper>
